.profile-container {
    padding-top: 30px;
}

.profile-info {
    text-align: center;
}

.profile-info .profile-avatar img {
    border-radius: 50%;
    max-width: 250px;
}

.profile-info .profile-name {
    font-weight: 500;
    font-size: 18px;
}

.profile-info .profile-email {
    font-weight: 400;
}

.profile-portfolio {
    font-weight: 500;
    font-size: 16px;
}

.profile-portfolio .button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
.profile-portfolio .button:hover{
    color:#000000;
    background-color:#FFFFFF;
}

.text-avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background: #46b5e5;
    background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
}

.text-avatar span {
    line-height: 200px;
    color: #fff;
    font-size: 3em;
}